<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/js/materialize.min.js"></script>

   
</head>
<body>
    <nav>
		<div class="nav-wrapper">
		 <a class="brand-logo">豆の樹</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="help.php">ヘルプ</a></li>
		  </ul>
		</div>
	</nav>
    <div class="container">
    <h5>メンバーの登録確認</h5>
    <h5>メンバー情報</h5>

    <form action="insert.php" method="post">
      
        <table class="searchTbl">
            <tr>
                <th>ID</th>
                <td>IDは自動で番号がつきます</td>
            </tr>
            <tr>
                <th>名前</th>
                <td>
                    <?= $sName ?>
                    <input type="hidden" name="name" value="<?= $sName ?>">
                </td>
            </tr>
            <tr>
                <th>年齢</th>
                <td>
                    <?= $sAge ?>
                    <input type="hidden" name="age" value="<?= $sAge ?>">
                </td>
            </tr>
            <tr>
                <th>郵便番号</th>
                <td>
                    <?= $sPostcode ?>
                    <input type="hidden" name="postcode" value="<?= $sPostcode ?>">
                </td>
            </tr>
            <tr>
                <th>住所</th>
                <td>
                    <?= $sAddress ?>
                    <input type="hidden" name="address" value="<?= $sAddress ?>">
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>
                    <?= $sMail ?>
                    <input type="hidden" name="mail" value="<?= $sMail ?>">
                </td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>
                    <?= $sTelephone ?>
                    <input type="hidden" name="telephone" value="<?= $sTelephone ?>">
                </td>
            </tr>
            <tr>
                <th>ログインID</th>
                <td>
                    <?= $sLogin_Id ?>
                    <input type="hidden" name="login_id" value="<?= $sLogin_Id ?>">
                </td>
            </tr>
            <tr>
                <th>ログインPASS</th>
                <td>
                    <?= $sLogin_Pass ?>
                    <input type="hidden" name="login_pass" value="<?= $sLogin_Pass ?>">
                </td>
            </tr>
        </table>

        <div class="btnArea clearfix">
            <input type="button" class="btn" value="修正" onclick="javascript:history.back();">
            <input type="submit" class="btn" value="登録">
            <input type="hidden" name="step" value="2" />
        </div>
    </form>

    <a href="index.php">トップページへ戻る</a><br />
    <div>
</body>
</html>
