<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
	<meta charset="utf-8">
	<link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
	<link href="../common/css/main.css" rel="stylesheet" type="text/css">
	 <!-- Compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/css/materialize.min.css">
	 <!-- Compiled and minified JavaScript -->
	 <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/js/materialize.min.js"></script>
   
</head>
<body>
	<nav>
		<div class="nav-wrapper">
		 <a class="brand-logo">豆の樹</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		  </ul>
		</div>
	</nav>
	<div class="container">
	<h5>ログアウト</h5>
  
	<div>ログアウトしました。</div>
	<div>
		<a href="index.php">トップページへ戻る</a>
	</div>
</div>
</body>
</html>
