<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>メンバーの登録確認</h1>
    <h2>メンバー情報</h2>

    <form action="i_insert.php" method="post">
        <table class="searchTbl"> 
            <tr> 
                <th>ID</th> 
                <td>IDは自動で番号がつきます</td> 
            </tr> 
            <tr> 
                <th>商品名</th> 
                <td> 
                    <?= $sItem_name ?> 
                    <input type="hidden" name="item_name" value="<?= $sItem_name ?>"> 
                </td>
            </tr> 
            <tr> 
                <th>商品価格</th> 
                <td> 
                    <?= $sItem_price ?>円
                    <input type="hidden" name="item_price" value="<?= $sItem_price ?>"> 
                </td> 
            </tr> 
            <tr> 
                <th>商品説明</th> 
                <td> 
                    <?= $sItem_exp ?>
                    <input type="hidden" name="item_exp" value="<?= $sItem_exp ?>">                 
                </td> 
            </tr> 
            <tr>  
                <th>カテゴリー</th>  
                <td>  
                    <?php
                    if ($sCategory_id == 1) {
                        echo 'シティロースト';
                    } elseif ($sCategory_id == 2) {
                        echo 'フルシティロースト';
                    } elseif ($sCategory_id == 3) {
                        echo 'アイスコーヒー豆';
                    } elseif ($sCategory_id == 4) {
                        echo 'その他';
                    } else {
                        echo '不明';
                    }
                    ?>
                    <input type="hidden" name="category_id" value="<?= $sCategory_id ?>">  
                </td>  
            </tr>
             
            <tr> 
                <th>商品数</th> 
                <td> 
                    <?= $sItem_stock ?>
                    <input type="hidden" name="item_stock" value="<?= $sItem_stock ?>"> 
                </td> 
            </tr> 
            
            <tr>  
                <th>販売停止</th>  
                <td>  
                    <?php if ($sSales_Stop == 0): ?>  
                        販売中  
                    <?php elseif ($sSales_Stop == 1): ?>  
                        販売中止  
                    <?php else: ?>  
                        不明  
                    <?php endif; ?>  
                    <input type="hidden" name="Sales_Stop" value="<?= $sSales_Stop?>"> 
                     
                </td>  
            </tr>
             
        </table> 

        <div class="btnArea clearfix">
            <input type="button" class="btn" value="修正" onclick="javascript:history.back();">
            <input type="submit" class="btn" value="登録">
            <input type="hidden" name="step" value="2" />
        </div>
    </form>

    <a href="index.php">トップページへ戻る</a><br />

</body>
</html>
